*{

	/* font-family: Montserrat; */
	font-size:15px;
	font-weight:500;

}
.footer-row{
	padding-top: 30px;
    background-color: rgb(68, 66, 66);
}
.text-left{
		color: white;
}
.footer_link{
	color:white;
}
.imp{
	color:white;
}
/* changes to be made in his file */
/* new changes */
.spacing_change{
		padding-top: 15px;
		background-color:rgb(68, 66, 66) ;  
		padding-bottom: 15px;
}
.text-center{
	font-size: 11px;
	color: white;
}
.space{
	margin-bottom: 15px;
}

.dot{
	list-style: none;
}
.footer_change ul li a{
	text-decoration: none;
}
.footer_change ul li a:hover{
	color: yellow;
}
.span1{
    font-family: 'Times New Roman', Times, serif;
    font-size:23px;
}
.nav-item{
	margin-left: 40px;
}
.logo{
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
}
/* main */
.main{
	height: 100%;
    /* background-image: linear-gradient(to right,white,rgb(207, 236, 236),rgb(172, 243, 243),rgb(117, 247, 247),rgb(43, 241, 222)); */
	/* background-image: linear-gradient(to right,white, rgb(168, 241, 241),turquoise,aqua,teal); */
	/* background-image: linear-gradient(to right,white,rgb(247, 235, 214),rgb(238, 207, 150),rgb(247, 202, 119),rgb(243, 173, 42)); */
	/* background-image: linear-gradient(to right,rgb(180, 177, 177),rgb(133, 130, 130),rgb(112, 112, 112),black); */
}
h1{
	font-family: 'Times New Roman', Times, serif;
	/* color: white; */
	font-size:15px;
	padding-top: 40px;
	text-align: center;
}
/* new changes */
/* space above footer-image */
/* .container{
	padding-top: 30px;
} */
/* hover effect on categories menu */
.hover-effect:hover{
	text-decoration-line: underline;
	font-weight: bold;
}